<!--
    filename: in_memoriam.html
    author: Vincent Pennetti (vpennett@bu.edu)
    description: an html document displaying all of the plants
-->

{% extends 'project/base.html' %}

{% block content %}


<hr>
<h3>Showing all Dead Plants</h3>

<form method="get" action="{% url 'all_dead_plants' %}">
    <label for="orderby">Specify Order:</label>
    <select name="orderby" id="ordertype" onchange="this.form.submit();">
      <option > -- </option>
      <option value="name">Name (ascending)</option>
      <option value="-name">Name (descending)</option>
      <option value="monicker">Monicker (ascending)</option>
      <option value="-monicker">Monicker (decending)</option>
      <option value="date_bred">Date Bred</option>
      <!--<option value="-is_alive">Presence</option>-->
    </select>
</form>

<!--CSS-->
<style>
    .grid-container {
        display: grid;
        grid-template-columns: 25vw 25vw 25vw;
        grid-gap: 10px;
        color: #D4D4D4;
    }
    .grid-item {
        background-color: #D4D4D4;
        color: black;
        border-radius: 5px;
        padding: 1vw;
        font-size: 4vw;
    }

    .dispimg{
        width: 25vw;
        height: 25vw;
        object-fit: cover;
    }

    .smtxt{
        font-size: 2vw;
    }

    </style>
<!--End CSS-->

<!--Display all of the plants in the database as interactive tiles-->
<div class="grid-container">

    <!--For each plant in the database, present their main image, their name, and their monicker-->
    {% for plant in all_plants_list %}
    {% if plant.is_alive %}
    <div class="grid-item">
        <center><a href="{% url 'display_plant' plant.pk %}"><img src='{{plant.get_main_image}}' style='width: 22vw; height: 22vw' class='dispimg'></a></center>
        <center>{{plant.monicker}} <br><small class="smtxt">({{plant.name}})</small></center>
    </div>
    {% else %}
    <div class="grid-item" style='background-color: #343434'>
        <center><a href="{% url 'display_plant' plant.pk %}"><img src='{{plant.get_main_image}}' style='width: 22vw; height: 22vw' class='dispimg'></a></center>
        <center>{{plant.monicker}} <br><small class="smtxt">({{plant.name}})</small></center>
    </div>
    {% endif %}
    {% endfor %}
  </div>

{% endblock %}