<!--
    filename: logbook.html
    author: Vincent Pennetti (vpennett@bu.edu)
    description: an html document for displaying the logbook
-->


{% extends 'project/base.html' %}

{% block content %}

<!--Navigation Links-->
<a href="{% url 'display_plant' plant.pk %}">{{plant.name}}</a>
<hr>



<!--Display all of the log notes already in the logbook-->
<center>
    <table cellspacing="15">
        <tr>
            <th>Time</th>
            <th>Note</th>
        </tr>
        {% for note in plant.get_all_notes %}
        <tr>
            <td>{{note.timestamp}}</td>
            <td>{{note.text}}</td>

        </tr>

        {% endfor %}
    </table>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>


    <!--Use a form to collect and post new notes to the logbook-->
    <form method='POST' action="{% url 'post_note' plant.pk %}">
        {% csrf_token %}
        <table>
            <tr>
                <th>Note </th>
                <td>
                    <textarea rows="4" cols="50" name="text">Type note here...</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="Save Note" value="Save Note">
                </td>
            </tr>
        </table>  

    </form>
</center>
{% endblock %}