<!--
    filename: add_new_plant.html
    author: Vincent Pennetti (vpennett@bu.edu)
    description: an html document adding a new plant
-->

{% extends 'project/base.html' %}

{% block content %}




<!--CSS-->
<style>
    .fieldContainer{

    }

    .fieldTitle {
        display: inline-block;
        width: 10vw;
        padding-left: 1vw;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .fieldField {
        display: inline-block;
        padding-top: 1vh;
        padding-bottom: 1vh;
        
    }
    .phenoGrid{
        display: grid;
        grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    }

    .phenoGridItem{

    }

    .phenoGridItemTitle{
        text-align: center;
        padding-top: 1vh;

    }

    .phenoGridItemField{
        text-align: center;
        padding-bottom: 1vh;
    }

    .phenoGridItemImage{
        border-radius: 5px;
        background-size:cover;
        background-repeat:no-repeat;
        width:15vw;
        height:15vw;
        ;
    }

    .buttonDiv{
        position: relative;
        padding-top: 1vh
    }

    </style>
<!--End CSS-->

<!--<div class="phenoGridItemImage" style="background: url(blah.jpg) 50% 50% no-repeat"></div>-->




<hr>
<h2>Add a New Plant</h2>

<!-- Display the form for adding a new plant ot the database-->
<form method='POST'>
    {% csrf_token %}

    <div>
        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.name.errors }}
                <label for="{{ form.name.id_for_label }}">Plant Name:</label>
            </div>
            <div class="fieldField">
                {{ form.name }}
            </div>
        </div>

        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.monicker.errors }}
                <label for="{{ form.monicker.id_for_label }}">Monicker:</label>
            </div>
            <div class="fieldField">
                {{ form.monicker }}
            </div>
        </div>

        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.mother_name.errors }}
                <label for="{{ form.mother_name.id_for_label }}">Mother's Name:</label>
            </div>
            <div class="fieldField">
                {{ form.mother_name }}
            </div>
        </div>
        
        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.father_name.errors }}
                <label for="{{ form.father_name.id_for_label }}">Father's Name:</label>
            </div>
            <div class="fieldField">
                {{ form.father_name }}
            </div>
        </div>

        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.date_bred.errors }}
                <label for="{{ form.date_bred.id_for_label }}">Date Bred:</label>
            </div>
            <div class="fieldField">
                {{ form.date_bred }}
            </div>
        </div>

        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.date_harvested.errors }}
                <label for="{{ form.date_harvested.id_for_label }}">Date Harvested:</label>
            </div>
            <div class="fieldField">
                {{ form.date_harvested }}
            </div>
        </div>

        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.date_planted.errors }}
                <label for="{{ form.date_planted.id_for_label }}">Date Planted:</label>
            </div>
            <div class="fieldField">
                {{ form.date_planted }}
            </div>
        </div>

        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.genus.errors }}
                <label for="{{ form.genus.id_for_label }}">Genus:</label>
            </div>
            <div class="fieldField">
                {{ form.genus }}
            </div>
        </div>

        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.species.errors }}
                <label for="{{ form.species.id_for_label }}">Species:</label>
            </div>
            <div class="fieldField">
                {{ form.species }}
            </div>
        </div>

        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.current_location.errors }}
                <label for="{{ form.current_location.id_for_label }}">Current Location:</label>
            </div>
            <div class="fieldField">
                {{ form.current_location }}
            </div>
        </div>

        <div class="fieldContainer">
            <div class="fieldTitle">
                {{ form.is_alive.errors }}
                <label for="{{ form.is_alive.id_for_label }}">Alive?:</label>
            </div>
            <div class="fieldField">
                {{ form.is_alive }}
            </div>
        </div>

        <h4>Flower Characteristics</h4>
        <div class="phenoGrid">
            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_flower_red.errors }}
                    <label for="{{ form.pheno_flower_red.id_for_label }}">Red Flower</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_flower_red}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_flower_pink.errors }}
                    <label for="{{ form.pheno_flower_pink.id_for_label }}">Pink Flower</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_flower_pink}}
                </div>
            </div>
            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_flower_blush.errors }}
                    <label for="{{ form.pheno_flower_blush.id_for_label }}">Blush Flower</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_flower_blush}}
                </div>
            </div>
            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_flower_white.errors }}
                    <label for="{{ form.pheno_flower_white.id_for_label }}">White Flower</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_flower_white}}
                </div>
            </div>
            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_flower_morphology.errors }}
                    <label for="{{ form.pheno_flower_morphology.id_for_label }}">Generic Morphology</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_flower_morphology}}
                </div>
            </div>
            
            </div>


        <h4>Leaf Characteristics</h4>
        <div class="phenoGrid">
            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_recessive.errors }}
                    <label for="{{ form.pheno_leaf_recessive.id_for_label }}">Recessive</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_recessive}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_whiteV.errors }}
                    <label for="{{ form.pheno_leaf_whiteV.id_for_label }}">White V (V/_)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_whiteV}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_whiteVHigh.errors }}
                    <label for="{{ form.pheno_leaf_whiteVHigh.id_for_label }}">White V High (Vh/_)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_whiteVHigh}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_whiteIntermediate.errors }}
                    <label for="{{ form.pheno_leaf_whiteVIntermediate.id_for_label }}">White V Intermediate (Vi/_)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_whiteVIntermediate}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_whiteVLow.errors }}
                    <label for="{{ form.pheno_leaf_whiteVLow.id_for_label }}">White V Low (Vl/_)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_whiteVLow}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_brokenV.errors }}
                    <label for="{{ form.pheno_leaf_brokenV.id_for_label }}">Broken V (Vb)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_brokenV}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_vPoint.errors }}
                    <label for="{{ form.pheno_leaf_vPoint.id_for_label }}">V Point (Vp)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_vPoint}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_basal.errors }}
                    <label for="{{ form.pheno_leaf_basal.id_for_label }}">Basal (VL)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_basal}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_filledV.errors }}
                    <label for="{{ form.pheno_leaf_filledV.id_for_label }}">Filled V (Vf)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_filledV}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_brokenVyel.errors }}
                    <label for="{{ form.pheno_leaf_brokenVyel.id_for_label }}">Broken V, yellow tip (Vby)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_brokenVyel}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_red.errors }}
                    <label for="{{ form.pheno_leaf_red.id_for_label }}">Red Leaf (Rl)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_red}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_halo.errors }}
                    <label for="{{ form.pheno_leaf_halo.id_for_label }}">Halo (Vh2)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_halo}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_redSpot.errors }}
                    <label for="{{ form.pheno_leaf_redSpot.id_for_label }}">Red Spot (Vr2)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_redSpot}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_redLeaflet.errors }}
                    <label for="{{ form.pheno_leaf_redLeaflet.id_for_label }}">Red Leaflet (Vrl)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_redLeaflet}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_redMidrib.errors }}
                    <label for="{{ form.pheno_leaf_redMidrib.id_for_label }}">Red Midrib (Rm)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_redMidrib}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_redFleck.errors }}
                    <label for="{{ form.pheno_leaf_redFleck.id_for_label }}">Red Fleck (Rf)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_redFleck}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_marginalMark.errors }}
                    <label for="{{ form.pheno_leaf_marginalMark.id_for_label }}">Marginal Mark (Vm)</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_marginalMark}}
                </div>
            </div>
        </div>


        <h4>Leaf Morphology</h4>
        <div class="phenoGrid">
            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_multifoliate.errors }}
                    <label for="{{ form.pheno_leaf_multifoliate.id_for_label }}">Multifoliate</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_multifoliate}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_trifoliate.errors }}
                    <label for="{{ form.pheno_leaf_trifoliate.id_for_label }}">Trifoliate</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_trifoliate}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_pinnate.errors }}
                    <label for="{{ form.pheno_leaf_pinnate.id_for_label }}">Pinnate</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_pinnate}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_palmate.errors }}
                    <label for="{{ form.pheno_leaf_palmate.id_for_label }}">Palmate</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_palmate}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_leaf_elongatedPetiole.errors }}
                    <label for="{{ form.pheno_leaf_elongatedPetiole.id_for_label }}">Elongated Petiole</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_leaf_elongatedPetiole}}
                </div>
            </div>
        </div>

        <h4>Cyanogenic</h4>
        <div class="phenoGrid">
            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_cyanogenic_gluc.errors }}
                    <label for="{{ form.pheno_cyanogenic_gluc.id_for_label }}">Cyanogenic Glucosides</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_cyanogenic_gluc}}
                </div>
            </div>

            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_cyanogenic_enzyme.errors }}
                    <label for="{{ form.pheno_cyanogenic_enzyme.id_for_label }}">Linamarase</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_cyanogenic_enzyme}}
                </div>
            </div>
        </div>


        <h4>Misc</h4>
        <div class="phenoGrid">
            <div class="phenoGridItem">
                <div class="phenoGridItemTitle">
                    {{ form.pheno_compat.errors }}
                    <label for="{{ form.pheno_compat.id_for_label }}">Self Incompatible</label>
                </div>
                <div class="phenoGridItemField">
                    {{form.pheno_compat}}
                </div>
            </div>

    </div>
    <div class="buttonDiv">
        <input type="submit" name="Add Plant" value="Add Plant">
    </div>



</form>

{% endblock %}