<!--
    filename: add_new_image.html
    author: Vincent Pennetti (vpennett@bu.edu)
    description: an html document for adding a new image
-->

{% extends 'project/base.html' %}

{% block content %}

<hr>

<h2>Add a New Image</h2>


<!-- Display the form for adding in a new image-->
<form method='POST' enctype="multipart/form-data" >
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="upload">
    <input type='submit' name="cancel" value="cancel">

</form>





{% endblock %}


