<!--
    filename: base.html
    author: Vincent Pennetti (vpennett@bu.edu)
    description: an html document containing the base template information for all html templates
-->


<!-- Declare website-wide attributes and separate sections into divs for easier use with css-->
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--CSS-->
    <style>
    body {
        background-color: #EEE;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    #footer{
        clear: both;
    }

    </style>
    <!--End CSS-->


    <div id="header">
    <head>
        <title>BreedBuddy</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180829589-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-180829589-1');
        </script>
    </head>
    </div>

    <body>

        <!-- this content block will be filled in by another template
        which extends this base.html page.-->
        <h1>BreedBuddy</h1>
        <a href="/">Home</a> |
        <!--<a href="{% url 'show_all_plants' %}">All</a> | 
        <a href="{% url 'all_personal_plants' %}">Personal Plants</a> |
        <a href="{% url 'all_lab_plants' %}">Lab Plants</a> | -->
        <a href="{% url 'add_new_plant' %}">Add Plant</a> | 

        {% block content %}
        {% endblock %}


        <!--A consistent footer to be used across the entire project site-->
        <div id="footer">
            <br>
            <hr>
        This page was brought to you by vincent.pennetti@uga.edu. 
        <a href="{% url 'all_dead_plants' %}">In Memoriam</a> |
        <a href="https://github.com/vincentpennetti/">Source</a> |



        <!-- Provide a login/logout button where appropriate depending on the user's state-->
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}?next=/BreedBuddy">Logout</a> 
        {% else %}
            <a href="{% url 'login' %}" class="top-menu">Login</a> 
        {% endif %}
        
        <br>
        </div>
        
    </body>
</html>