<!--
    filename: gallery.html
    author: Vincent Pennetti (vpennett@bu.edu)
    description: an html document displaying a plant image gallery
-->

{% extends 'project/base.html' %}

{% block content %}

<!--CSS for the name style-->
<style>
    .name_head{
        display:inline;
    }
</style>

<!--End CSS-->


<!--Navigation links-->
<a href="{% url 'display_plant' plant.pk %}">{{plant.name}}</a> 



<hr>

<h1 class="name_head">Stored Images for {{plant.monicker}}</h1> <small class="name_head">({{plant.name}})</small>

<!--Additional CSS for the tile layout-->
<style>
    .grid-container {
        display: grid;
        grid-template-columns: 25vw 25vw 25vw;
        grid-gap: 10px;
        color: #D4D4D4;
    }
    .grid-item {
        background-color: #D4D4D4;
        color: black;
        border-radius: 5px;
        padding: 1vw;
        font-size: 150%;
    }

    .dispimg{
        width: 25vw;
        height: 25vw;
        object-fit: cover;
    }
    </style>

<!--End CSS-->



<!--Retrive the list of images for this plant, and display them as interactable tiles-->
<br>
<a href="{% url 'add_new_image' plant.pk %}">Add New Images</a> 
<br>
<br>
<div class="grid-container">
    {% for image in plant.get_all_images %}
    <div class="grid-item">

        <!--If the image is a file-->
        {% if image.image_file %}
        <a href="{% url 'single_image' plant_pk=plant.pk image_pk=image.pk %}"><img src="{{image.image_file.url}}" class="dispimg" style="width: 23vw; height: 23vw"></a>

        <!--If the image is a link-->
        {% else %}
        <a href="{% url 'single_image' plant_pk=plant.pk image_pk=image.pk %}"><img src="{{image.image_url}}" class="dispimg" style="width: 23vw; height: 23vw"></a>
        {% endif %}

    </div>
    {% endfor %}
  </div>



{% endblock %}