<!--
    filename: single_image.html
    author: Vincent Pennetti (vpennett@bu.edu)
    description: an html document for displaying a single plant image 
-->

{% extends 'project/base.html' %}

{% block content %}

<!--Name CSS-->
<style>
    .name_head{
        display:inline;
    }
</style>


<!--Navigation links-->
<a href="{% url 'display_plant' plnt.pk %}">{{plnt.name}}</a> >
<a href="{% url 'gallery' plnt.pk %}">{{plnt.name}} Gallery</a> 
<hr>



<!--Display the plant name and monicker-->
<center><h1 class="name_head">{{plnt.monicker}}</h1> <small class="name_head">({{plnt.name}})</small></center>
<br>


<!--Determine the type of image that this page was called on, and present it appropriately-->
{% if image.image_file %}
    <center><img src="{{img.image_file.url}}" style='width: auto ; height: auto; max-width: 80%; max-height: 50%'></center>
{% else %}
    <center><img src="{{img.image_url}}" style='width: auto; height: auto; max-width: 80%; max-height: 50%'></center>
{% endif %}

<br>

<!--Link to delete the currently displayed image-->
<center><a href="{% url 'delete_image' plant_pk=plnt.pk image_pk=img.pk %}">Delete Image</a></center>



    <!--Use a form to collect and post new notes to the logbook-->
<form method='POST' action="{% url 'set_profile_image' plant_pk=plnt.pk image_pk=img.pk %}">
        {% csrf_token %}
        <hr>
        {{ form.as_p }}
        <hr>
        <input type="submit" value="Submit">
</form>



{% endblock %}